* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #0c346b;
    box-sizing: border-box;
}

h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
	font-family: 'Hind', sans-serif;
}

.title{
	color: rgb(5, 184, 255);
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: rgb(5, 184, 255);
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.5rem;
	/* border-bottom: 4px solid #fff; */
	margin-bottom: 1.5rem;
	background-color: #fff;
	border-radius: 1rem;
	


}

.item_input{
	background: rgb(18, 18, 18);
	outline: none;
	border-radius: 10px;
	color: #e8e8e8;
	font-size: 1.4rem;
	width: 245px;
	padding-left:8px;
	height: 50px;

}

.edit{
	background: none;
	outline: none;
	border: none;
	color:  rgb(5, 184, 255);
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	margin: 0 0.5rem;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	padding: 10px;
	border-radius: 10px;
	width: 90px;
	height: 50px;
}



   
   .edit:hover {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   .edit:active {
	transform: translate(0em, 0.2em);
	color: black;
   }



.remove{
	background: none;
	outline: none;
	border: none;
	color: rgb(19, 3, 3);
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	width: 90px;
	height: 50px;
	border-radius: 10px;
}

.remove:hover {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   .remove:active {
	transform: translate(0em, 0.2em);
	color: black;
   }

