* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #1f2605;
    box-sizing: border-box;
	display: flex;
	flex-direction: column ;
	justify-content: center;
	align-items: center;
}

img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
}



header{
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

h2{
	color: #e8e8e8	;
	
}

main{
	background-image: linear-gradient( #D6CE15, #53900f);
	/* background-color:#61892f; */
	height: 400px;
	width:500px;
	border-radius: 20px;
}

h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
	font-family: 'Hind', sans-serif;
}

.title{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: #1F6521;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.5rem;
	/* border-bottom: 4px solid #fff; */
	margin-bottom: 1.5rem;
	background-color: #fff;
	border-radius: 1rem;
	
	
	


}


.item_input{
	background: rgb(206, 206, 206);
	outline: none;
	border-radius: 10px;
	color: #1f2605;
	font-size: 1.4rem;
	width: 245px;
	padding-left:8px;
	height: 50px;

}

.edit{
	background: none;
	outline: none;
	border: none;
	color:  #A4A71E;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	margin: 0 0.5rem;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	padding: 10px;
	border-radius: 10px;
	width: 90px;
	height: 50px;
}



   
   .edit:hover {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, #1F6521 0%, #53900f 100%);
   }
   
   .edit:active {
	transform: translate(0em, 0.2em);
	color: black;
   }



.remove{
	background: none;
	outline: none;
	border: none;
	color: rgb(19, 3, 3);
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	width: 90px;
	height: 50px;
	border-radius: 10px;
}

.remove:hover {
	background: rgb(2,0,36);
	background: linear-gradient(90deg,  #53900f 0%, #1F6521 100%);
   }
   
   .remove:active {
	transform: translate(0em, 0.2em);
	color: black;
   }

   footer{
	margin-top: 20px;
	background-color: #A4A71E;
	width: 100%;
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 20px;
   }